body {
  font-family: 'lato';
}

#background1 {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  height: 700px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.background1-content{
  padding-top: 15%;
}

h3 {
  font-weight: bold;
}

.logo {
 margin: 2% 0% 2% 0%;
}

#mouse-icon{
  padding-top: 10%;
}

.images {
  width: 100%;
  height: auto;
  margin: 3% 0% 3% 0%;
  border-radius: 5px;
  display: inline;
}

.about-us {
  text-align: center;
  margin: 4%;
}

#background2 {
  background-image: url(../assets/backgrounds/s_image.jpg);
  height: 300px;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
  padding: 5%;
  margin: 3% 0 3% 0;
}

.what-we-do {
  text-align: center;
  margin: 5%;
}

.what-we-do h3 {
  margin:4%;
}

.what-we-do p {
  font-weight: bold;
}

.what-we-do img {
  height:100px
}

.portfolio-row {
  width: 100%;
}

.portfolio {
  margin: 5%;
  text-align: center;
  font-weight: bold;
}

.porfolio-images{
  margin: 5% 1% 5% 1%;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#background3 {
  background-image: url(../assets/backgrounds/c_image.jpg);
  height:450px;
  border-radius: 5px;
  background-position: center center;
  margin: 3% 0 3% 0;  
  color: white;
  text-align: center;
}

.contact {
  padding: 5% 0 5% 0;
  margin: 5%;
}

.contact-forms{
  background-color: transparent;
  color: white;
}

#feedback{
  margin: 3% 0 3% 0;
  width: 80%;
  height: 200px;
}

.social-icons {
  padding: 2%;
  display: flex;
  justify-content: center;
}

#first-p-design{
  display:none;
}

#first-p-development{
  display:none;
}

#first-p-product{
  display:none;
}

#design{
  border-radius: 5px;
  padding: 2% ;
}

#development{
  border-radius: 5px;
  padding: 2% ;
}

#product-management{
  border-radius: 5px;
  padding: 2% ;
}

.opposite{
  background-color: black;
  color: white;
}

.port-name{
  position: absolute;
  top: 40%;
  left: 30%;
  color: black;
  display: none;
}

.col-sm-3{
  cursor: pointer;
}

.col-sm-4{
  cursor: pointer;
}